/* loader code adapted from https://ihatetomatoes.net/create-custom-preloading-screen/ */

body {
  background-color: #000;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Arial", Arial, sans-serif;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #222222;
}

#loader-text {
  display: block;
  text-align: center;
  top: 25%;
  position: relative;
  margin: auto 0 0 auto;
  color: #fff;
  z-index: 1005;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 45%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #fff;

  -webkit-animation: spin 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

.fade-out {
  -webkit-animation: fade 2s ease 1;
  animation: fade 2s ease 1;
}

@-webkit-keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

  /* JavaScript Turned Off */
  .no-js #loader-wrapper {
      display: none;
  }
  .no-js h1 {
      color: #222222;
  }

  #content {
      margin: 0 auto;
      padding-bottom: 50px;
      width: 80%;
      max-width: 978px;
  }

  #info-container{
    float:top;
    width:100%;
    min-height:100px;
    padding: 0px;
    position: absolute;
  }

  #info-background {
    float:top;
    width:100%;
    min-height: 100px;
    background-color:#000;
    z-index:30000;
    opacity: .5;
    position: absolute;
  }

  #info-text{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    min-height: 100px;
    z-index:30000644;
    color: white;
    /* display: table; */
  }

  .height-full {
    min-height: 100px;
    display: table;
    margin: 0 auto;
  }

  table {
    height: 100%;
  }
  td {
    color: white;
    padding: 2px 4px 2px 2px;
  }

  .flex {
    width: 120px; /* change this when screen is smaller */
  }

  .align-right {
    text-align: right; /* change this when screen is smaller */
  }

  .align-center {
    align-content: center; /* change this when screen is smaller */
  }
